{description, "A rebar3 plugin for compiling Diameter protocol dictionary files (.dia)"}.
{maintainers, ["Carlos Eduardo de Paula"]}.
{licenses, ["MIT"]}.
{links, [
    {"GitHub", "https://github.com/carlosedp/rebar3_diameter_compiler"},
    {"Documentation", "https://carlosedp.github.io/rebar3_diameter_compiler/"}
]}.
{build_tools, ["rebar3"]}.
{files, [
    "src",
    "include",
    "priv",
    "rebar.config",
    "rebar.lock",
    "README*",
    "readme*",
    "LICENSE*",
    "license*",
    "NOTICE",
    "CHANGELOG*",
    "changelog*",
    "CONTRIBUTORS*",
    "contributors*"
]}.
{exclude_files, [
    "_build",
    "test",
    "doc"
]}.
