{erl_opts, [
    debug_info,
    warn_export_all,
    % warn_export_vars,
    warn_obsolete_guard,
    warn_shadow_vars,
    warn_unused_import,
    warnings_as_errors
]}.

% Command aliases
{alias, [
    {lint, [edoc, format, xref, dialyzer, dialyzer_html]},
    {upd, [update, {upgrade, "--all"}]},
    {pub, [eunit, edoc, format, cut]}
]}.

{deps, []}.

{plugins, [erlfmt, rebar3_format, rebar3_dialyzer_html]}.

{format, [
    {files, ["src/*.{erl,hrl,app.src}", "test/*.{erl,hrl,app.src}", "**/{rebar,sys}.config"]},
    {formatter, erlfmt_formatter},
    {options, #{
        paper => 100,
        print_width => 100,
        ignore_pragma => true
    }}
]}.

%% xref checks to run
{xref_checks, [
    deprecated_function_calls,
    deprecated_functions
]}.

{cover_enabled, true}.

{dialyzer, [
    {warnings, [
        error_handling,
        underspecs,
        unmatched_returns
    ]},
    {plt_extra_apps, []},
    {plt_apps, all_deps},
    {output_format, raw}
]}.
