{erl_opts, [
    debug_info,
    warn_export_all,
    % warn_export_vars,
    warn_obsolete_guard,
    warn_shadow_vars,
    warn_unused_import,
    warnings_as_errors
]}.

% Command aliases
{alias, [
    {lint, [edoc, format, xref]},
    {lint_all, [edoc, format, xref, dialyzer, dialyzer_html]},
    {upd, [update, {upgrade, "--all"}]},
    {pub, [eunit, edoc, format, cut]},
    {publish_hex, [eunit, edoc, {hex, publish}]}
]}.

{deps, []}.

{project_plugins, [erlfmt, rebar3_format, rebar3_dialyzer_html, rebar3_hex]}.

%% Enhanced EDoc configuration
{edoc_opts, [
    {doclet, edoc_doclet},
    {pretty_printer, erl_pp},
    {source_path, ["src"]},
    {stylesheet, "stylesheet.css"},
    {image, "erlang.png"},
    {app_default, "http://www.erlang.org/doc/man"},
    {title, "Rebar3 Diameter Compiler Plugin"},
    {overview, "doc/overview.edoc"}
]}.

%% Hex configuration
{hex, [
    {doc, edoc}
]}.

{ex_doc, [
    {source_url, <<"https://github.com/carlosedp/rebar3_diameter_compiler">>},
    {extras, [<<"README.md">>, <<"LICENSE">>]},
    {main, <<"readme">>}
]}.

{format, [
    {files, ["src/*.{erl,hrl,app.src}", "test/*.{erl,hrl,app.src}", "**/{rebar,sys}.config"]},
    {formatter, erlfmt_formatter},
    {options, #{
        paper => 100,
        print_width => 100,
        ignore_pragma => true
    }}
]}.

%% xref checks to run
{xref_checks, [
    deprecated_function_calls,
    deprecated_functions
]}.

{cover_enabled, true}.

{dialyzer, [
    {warnings, [
        error_handling,
        underspecs,
        unmatched_returns
    ]},
    {plt_extra_apps, []},
    {plt_apps, all_deps},
    {output_format, raw},
    {base_plt_apps, [erts, kernel, stdlib]}
]}.
