on:
  push:
    branches: [main]
    tags: ["*"]
  pull_request:
    branches: ["*"]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        otp: ["24", "25", "26", "27", "28"]
        rebar3: ["3.20.0", "3.25.1"]
        exclude:
          - rebar3: "3.20.0"
            otp: "26"
          - rebar3: "3.20.0"
            otp: "27"
          - rebar3: "3.20.0"
            otp: "28"
          - rebar3: "3.25.1"
            otp: "24"
          - rebar3: "3.25.1"
            otp: "25"
    name: Erlang/OTP ${{ matrix.otp }} / rebar3 ${{ matrix.rebar3 }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup Erlang
        uses: erlef/setup-beam@v1
        with:
          otp-version: ${{matrix.otp}}
          rebar3-version: ${{ matrix.rebar3 }}

      - name: Run tests
        run: rebar3 eunit --cover

      - name: Show coverage
        run: rebar3 cover --verbose

  docs:
    runs-on: ubuntu-latest
    needs: test
    if: github.ref == 'refs/heads/main'
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup Erlang
        uses: erlef/setup-beam@v1
        with:
          otp-version: "27"
          rebar3-version: "3.25.1"

      - name: Generate documentation
        run: |
          rebar3 edoc
          mkdir -p _site
          cp -r doc/* _site/

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: "_site"

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
